<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand text-white" routerLink="/">{{_title}}</a>
      <app-sidebar *ngIf="IsLoggedIn$ | async"></app-sidebar>
       <div class="dropdown" *ngIf="(IsLoggedIn$ | async) as user" dropdown>
         <a class="dropdown-toggle text-light" dropdownToggle>welcome {{user.userName | titlecase}}</a>
         <div class="dropdown-menu mt-3" *dropdownMenu>
         <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
         <a class="dropdown-item" (click)="logout()">Logout</a>
         </div>
       </div>
         <app-forms *ngIf="(IsLoggedIn$ | async) === null" [display_form_flag]="_display_form_flag"></app-forms>
    </div>
</nav>

