/* You can add global styles to this file, and also import other style files */
.titleHeader{text-align: center;}
.titleHeader .lead{font-size: 18px;font-weight: 400;}
.form-control{font-size: 14px!important;padding: 8px!important;font-weight: 500!important;height: 35px;}
.strengthBar {display: inline;list-style: none;margin: 0;padding: 6px;vertical-align: 2px;}
.point:last-of-type {margin: 0 !important;}
.point { background: #DDD;border-radius: 2px;display: inline-block;height: 4px;margin-right: 3px; width: 30px;}
.strength{text-align: left;padding:0 0 0 9px}
.btn{font-weight: 500;}
.navbar-brand{cursor: pointer;}
.tab-panel{
  border:1px solid #ddd;
  padding:10px;
  border-radius:4px;}
  .nav-tabs> li.open, .mamber-tabset > .nab-tabs > li.nav-items:hover{
    border-bottom:4px solid #fdcdcf!important;
  }
  .member-tabset > .nav-tabs >li.open>a,.member-tabset> .nav-tabs >li:hover>a{
    border:0;
    background: none!important;
    color:#333333;
  }
  .member-tabset > .nav-tabs >li.open>a>i,.member-tabset> .nav-tabs >li:hover>a>i{
    color:#a6a6a6;
  }
  .member-tabset > .nav-tabs >li.open .dropdown-menu,.member-tabset> .nav-tabs >li:hover .dropdown-menu{
    margin-top: 0px;
  }
  .member-tabset > .nav-tabs > li.active{
    border-bottom:4px solid #E95420;
    position:relative;
  }
  .member-tabset > .nav-tabs > li.active>a{
    border:0!important;
    color:#333333;
  }
  .member-tabset > .nav-tabs > li.active>a>i{
    color:#404040;
  }
  .member-tabset > .tab-content{
     margin-top:-3px;
     background-color:#fff;
     border:0;
     border-top:1px solid #eee;
     padding:15px 0;
  }

